
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' ,sans-serif;
    }
   body{
    color: white;
    background-image:url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg');
    background-size:cover;
    
    background-color: #5cd3bbb9;
    background-repeat: no-repeat;
           
   
}
.header1{
    padding: 40px;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: #16a085;
     display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: -webkit-sticky; /* Safari */
    position: sticky;
  
}
section img{
    align-items: center;
    height: 500px;
    width: 50%;
    align-items: center;
    padding-left: 400px;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #ffff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 1;
    animation: slideRight 1s ease forwards;
}
.navbar a{
    display:inline-flexbox;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
   
    opacity: 1;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--1));
}
.navbar a:hover{
    display:inline-flexbox;
    color: #0ef;
