
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' ,sans-serif;
    }
    body{
    color: white;
    background-image:url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg');
    background-size:cover;
    
    background-color: #5cd3bbb9;
    background-repeat: no-repeat;
           
   
}
.header1{
    padding: 40px;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: #16a085;
     display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  
  
}
section img{
    align-items: center;
    height: 500px;
    width: 50%;
    align-items: center;
    padding-left: 400px;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #ffff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 1;
    animation: slideRight 1s ease forwards;
    
}

.navbar a{
    display:inline-flexbox;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
   text-shadow: 4px 4px 10px #fa0101;
    opacity: 1;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--1));
}
.navbar a:hover{
    display:inline-flexbox;
    color: #0ef;
}
section.telugu{
    display: inline;
    
    padding:100px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 10px #0ef;
}
section .bkvideo{
    position:absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    
}
.header5{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    
     display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: -webkit-sticky; /* Safari */
    position: sticky;
}
.logo1{
    position: relative;
    font-size: 25px;
    color: #ffff;
    text-shadow: 4px 4px 10px #fa0101;
    text-decoration: none;
    
    font-weight: 600;
    cursor: default;
    opacity: 1;
    animation: slideRight 1s ease forwards;
    
}
@media(min-aspect-ratio: 16/9){
    .bkvideo{
        width: 100%;
        height: auto;

    }
}
@media(max-aspect-ratio: 16/9){
    .bkvideo{
        width: auto;
        height: 100%;

    }
}
